html {
    font-size: 1em;
    line-height: 1.4;
    background: #eee;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#container {
    margin: 0px auto;
    width: 578px;
    position: relative;
}

#gameArea {
    margin-top: 100px;
    overflow: hidden;
}

#gameOverlay, #encouragement {
    width: 578px;
    height: 494px;
    line-height: 527px;
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: #444;
}

#gameTable {
    margin: 10px 0 10px;
}

#gameTable td {
    border: 1px solid #aaa;
    height: 20px;
    width: 20px;
}

.pre-row td {
    border: 1px dashed #ccc !important;
}

#pre-row-1 td {
    border-bottom: 1px solid #aaa !important;
}

#gameDiv {
    float: left;
}

h3 {
    margin: 20px 0 3px;
    font-weight: bold;
    font-size: 1em;
    color: #555;
}

#holdPieceDiv, #nextPieces {
    float: left;
}

#nextPieces {
    margin: 11px 0 0 23px;
}

#holdPieceDiv {
    margin: 11px 23px 0 0;
}

#nextPieces table {
    margin-bottom: 22px;
}

#nextPieces td, #holdPieceDiv td {
    border: 1px solid #ddd;
    height: 20px;
    width: 20px;
}

.floatClear {
    clear: both;
}

#score {
    margin: 10px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1.5em;
    color: #444;
}

.hidden {
    display: none;
}