html {
    font-size: 1em;
    line-height: 1.4;
    background: #eee url('../img/brick.png');
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h3 {
    margin: 20px 0 3px;
    font-weight: bold;
    font-size: 1em;
    color: #555;
}

p {
    margin: 0.5em 0;
}

#title {
    margin: 30px auto;
    width: 313px;
}

#container {
    margin: 0 auto;
    width: 605px;
    position: relative;
}

#gameArea {
    position: relative;
}

#gameOverlay, #encouragement {
    width: 605px;
    height: 505px;
    line-height: 529px;
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: #444;
}

#gameTable td {
    border: 1px solid #888;
    height: 21px;
    width: 21px;
    background: transparent;
}

#gameTable .pre-row td {
    border: 1px dashed #aaa;
}

#gameTable #pre-row-1 td {
    border-bottom: 1px solid #888;
}

#gameDiv, #holdPieceDiv, #nextPieces {
    float: left;
}

#gameDiv {
    margin: 0;
}

#holdPieceDiv {
    margin: 3px 25px 0 0;
}

#nextPieces {
    margin: 3px 0 0 25px;
}

#nextPieces table {
    margin-bottom: 23px;
}

#nextPieces #nextPieceLastTable {
    margin: 0;
}

#nextPieces td, #holdPieceDiv td {
    border: 1px solid #aaa;
    height: 21px;
    width: 21px;
}

#score {
    margin: 20px auto;
    width: 313px;
    font-weight: bold;
    font-size: 1.5em;
    color: #444;
}

#instructions {
    margin: 20px auto;
    width: 313px;
    color: #333;
}

.keyIcon {
    position: relative;
    top: -1px;
    padding: 2px 5px;
    height: 0.4em;
    border: 1px solid #bbb;
    border-color: #bbb #bbb #666 #666;
    background: #fff;
    font-family: Consolas, "Courier New", monospace;
    font-size: 0.75em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.floatClear {
    clear: both;
}

.hidden {
    display: none;
}